body {
	font-family: "Lucida Grande", Lucida, Verdana, "Helvetica Neue", Helvetica, sans-serif;
	background: white;
	background-size: 100%;
	color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
/*	text-shadow: 0px 0px 5px white;*/
}

h1, h2, h3, h4, h5, h6, h7, h8, p {
	font-size: inherit;
	font-weight: inherit;
	font-weight: bold;
	margin: 0;
	display: inline !important;
	background-color: rgba(255, 255, 255, 0.7);
}

ul {
	list-style-position: inside;
}

ul li {
	background-color: rgba(255, 255, 255, 0.7);
}

/* Red */ h1 {
	color: #f21c0f;
}

/* Orange */ h2 {
	color: #f2790f;
}

/* Green */ h3 {
	color: #a2bf39;
}

/* Blue */ h4 {
	color: #144673;
}

/* Gruber Blue */ h5 {
	color: #4a525a;
}

/* Light Blue */  h6 {
	color: #2685bf;
}

/* Light */ h7 {
	color: #f2f2f2;
}

/* Dark */ h8 {
	color: #0d0d0d;
}

a {
	font-style: normal;
	background: #2685BF;
	text-shadow: none;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 9px;
}

img {
	max-width: 90%;
	max-height: 50%;
}

img.border {
	border: 10px solid #fefefe;
	-webkit-box-shadow: 0 2px 5px #777;
	   -moz-box-shadow: 0 2px 5px #777;
	        box-shadow: 0 2px 5px #777;
}

div {
	cursor: pointer;
	cursor: hand;
	position: absolute;
	text-align: center;
	display: block;
	width: auto;
	height: auto;
	margin-top: -10px;
}

li {
	text-align: left;
	line-height: 1.618em;
}
